<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test task</title>
    <link href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="/static/styles/index.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <ul id="models">
{% for model in models %}
        <li id="{{ model.id }}"><a href="#{{ model.id }}">{{ model.title }}</a></li>
{% endfor %}
      </ul>
    </nav>
    <section id="content">
      <form>
        <table>
          <thead><tr id="fields"></tr></thead>
          <tbody id="values"></tbody>
          <tbody id="blanks"></tbody>
        </table>
      </form>
    </section>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="/static/scripts/index.js"></script>
  </body>
</html>
